#content.details
    .container
        .row
            .col-md-12
                br
                br
                for order in softwareListDetails
                    h2(id='tables') Antrag #!{order.applicationid} !{order.topic}
                    for order in softwareListDetails
                        if(order.status == 10)
                            span.span-draft Entwurf
                                i &nbsp;(Um den Antrag einreichen zu können, bitte "Antrag bearbeiten" auswählen)
                            if (admin == true)
                                include elements/buttons-view-admin
                            else
                                include elements/buttons-view-draft
                        else
                            if (admin == true)
                                include elements/buttons-view-admin
                            else
                                include elements/buttons-view-draft
                for order in softwareListDetails
                    if(order.status != 10)
                            ul.progressbar
                                -let list = ['Antrag eingegangen', 'Antrag in Bearbeitung', 'Antrag in Prüfung', 'Antrag bei Gremium', statuscurrent];
                                if (admin == true)
                                        -for (var i = 1; i < list.length; i++)
                                                                                if((i < order.status)) ||((i == order.status) && (i == list.length-1))
                                                                                    li(class=["li-status", "active item" + i, "li-status-admin"] id="orderstatus" + i, )
                                                                                        span= list[i]
                                                                                else if((i == order.status) && (i != list.length-1))
                                                                                    li(class=["li-status", "preactive item" + i, "li-status-admin"] id="orderstatus" + i data-bs-toggle='modal' data-bs-target='#Modal' + i)
                                                                                        span= list[i]
                                                                                else
                                                                                    li(class=["li-status", "item" + i, "li-status-admin"] id="orderstatus" + i data-bs-toggle='modal' data-bs-target='#Modal' + i)
                                                                                        span= list[i]

                                else
                                        -for (var i = 1; i < list.length; i++)
                                                                                if((i < order.status)) || ((i == order.status) && (i == list.length - 1))
                                                                                    li(class=["li-status", "active item" + i, "li-status-admin"] id="orderstatus" + i, )
                                                                                        span= list[i]
                                                                                else if((i == order.status) && (i != list.length - 1))
                                                                                    li(class=["li-status", "preactive item" + i, "li-status-admin"] id="orderstatus" + i)
                                                                                        span= list[i]
                                                                                else
                                                                                    li(class=["li-status", "item" + i, "li-status-admin"] id="orderstatus" + i)
                                                                                        span= list[i]

                #Modal2.modalStatus.modal.fade(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5.modal-title Antrag in Prüfung
                            .modal-body
                                button.btn.btn-secondary.btn-sm.custom-control-button-open(type='button') Antrag genehmigen
                                for order in softwareListDetails
                                    span.inputHide
                                        textarea.modalEmailTextarea#modalEmailTextarea1.widgEditor(placeholder='EmailVorlage' rows='10')
                                            |Guten Tag #{anredeMail} </br></br>Wir haben Ihren Antrag für die Anschaffung der Software #{order.softwarename} geprüft und teilen Ihnen gerne mit, dass Sie diese über den
                                            |<a href="https://subito.insideapps.fhnw.ch/itshop/custom" target="_blank">FHNW Subito - IT-Shop</a> bestellen können. </br>
                                            |Preis für die Software:
                                            |</br>Auf der Seite <a href="https://welcome.inside.fhnw.ch/organisation/hochschule/PH/mitarbeitende/Seiten/softwarebestellung.aspx" target="_blank">«Softwarebestellung»</a> finden Sie eine kurze Anleitung, wie Sie die Software im FHNW Subito IT-Shop bestellen können.</br></br>Freundliche Grüsse</br> Ihr Applprojekte Team</br> n|w
                                        a.button-email-send.btn.btn-secondary.btn-sm(href="/santra/details?tsid=" + order.orderid statuschange=4, mailtype=2, orderstatus=1)
                                            | Email senden
                                        button.btn.btn-primary.btn-sm.custom-control-button-close(type='button') Abbrechen
                                        p.hidden.green Ihr E-Mail wurde erfolgreich an Benutzer verschickt
                                        p.hidden.red Das E-Mail wurde an Benutzer nicht verschickt. Wenden Sie sich bitte an alesya.heymann@fhnw.ch
                                        hr
                                br
                                button.btn.btn-primary.btn-sm.custom-control-button-open(type='button') Antrag ablehnen
                                for order in softwareListDetails
                                    span.inputHide
                                        textarea.modalEmailTextarea#modalEmailTextarea2.widgEditor(placeholder='EmailVorlage' rows='10')
                                            | Guten Tag #{anredeMail} </br></br>Ihr Antrag zur Anschaffung der Software #{order.softwarename} wurde geprüft. Leider müssen wir Ihnen mitteilen, dass eine Anschaffung abgelehnt werden muss.</br>Begründung:</br></br>Freundliche Grüsse</br> Ihr Applprojekte Team</br> n|w
                                        a.button-email-send.btn.btn-secondary.btn-sm(href="/santra/details?tsid=" + order.orderid statuschange=5, mailtype=2, orderstatus=2)
                                            | Email senden
                                        //button.btn-email2.btn-email-status2.btn.btn-primary.btn-sm.button-email-send(type='button') Email senden
                                        button.btn.btn-primary.btn-sm.custom-control-button-close(type='button') Abbrechen
                                        p.hidden.green Ihr E-Mail wurde erfolgreich an Benutzer verschickt
                                        p.hidden.red Das E-Mail wurde an Benutzer nicht verschickt. Wenden Sie sich bitte an Entwickler
                                        hr
                                br
                                button.btn.btn-primary.btn-sm.custom-control-button-open(type='button') Antrag zum Gremium
                                for order in softwareListDetails
                                    span.inputHide
                                        textarea.modalEmailTextarea#modalEmailTextarea3.widgEditor(placeholder='EmailVorlage' rows='10')
                                            | Guten Tag #{anredeMail} </br></br>Ihr Antrag zur Anschaffung der Software #{order.softwarename} muss durch das Gremium weiter geprüft werden. </br>Bitte beachten Sie, dass die Bearbeitung in aufwendigen Fällen (Bsp. grössere Lizenzpakete) bis zu 3 Monate dauern kann. Sie erhalten zu gegebener Zeit eine Rückmeldung zur Anschaffung oder Nicht-Anschaffung der gewünschten Software. </br></br>Freundliche Grüsse</br> Ihr Applprojekte Team</br>  n|w
                                        a.button-email-send.btn.btn-secondary.btn-sm(href="/santra/details?tsid=" + order.orderid statuschange=3, mailtype=2, orderstatus=3)
                                            | Email senden
                                        button.btn.btn-primary.btn-sm.custom-control-button-close(type='button') Abbrechen
                                        p.hidden.green Ihr E-Mail wurde erfolgreich an Benutzer verschickt
                                        p.hidden.red Das E-Mail wurde an Benutzer nicht verschickt. Wenden Sie sich bitte an Entwickler
                                        hr
                            .modal-footer
                                for order in softwareListDetails
                                    //a.btn.btn-secondary.btn-sm(href="/details?tsid="+ order.orderid + "&statuschange=2" class="link-id")
                                        | Status bestätigen
                                    button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') Abbrechen
                                    hr

                #Modal3.modalStatus.modal.fade(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5.modal-title Entscheid Gremium
                            .modal-body
                                button.btn.btn-secondary.btn-sm.custom-control-button-open(type='button') Antrag genehmigen
                                for order in softwareListDetails
                                    span.inputHide
                                        textarea.modalEmailTextarea#modalEmailTextarea12.widgEditor(placeholder='EmailVorlage' rows='10')
                                            |Guten Tag #{anredeMail} </br></br>Ihr Antrag zur Anschaffung der Software #{order.softwarename} wurde durch das Gremium geprüft und teilen Ihnen gerne mit, dass Sie diese über den
                                            |<a href="https://subito.insideapps.fhnw.ch/itshop/custom" target="_blank">FHNW Subito - IT-Shop</a> bestellen können.</br>
                                            |Preis für die Software:
                                            |</br>Auf der Seite <a href="https://welcome.inside.fhnw.ch/organisation/hochschule/PH/mitarbeitende/Seiten/softwarebestellung.aspx" target="_blank">«Softwarebestellung»</a> finden Sie eine kurze Anleitung, wie Sie die Software im FHNW Subito IT-Shop bestellen können.</br></br>Freundliche Grüsse</br> Ihr Applprojekte Team</br> n|w
                                        a.button-email-send.btn.btn-secondary.btn-sm(href="/santra/details?tsid=" + order.orderid statuschange=4, mailtype=2, orderstatus=4)
                                            | Email senden
                                        button.btn.btn-primary.btn-sm.custom-control-button-close(type='button') Abbrechen
                                        p.hidden.green Ihr E-Mail wurde erfolgreich an Benutzer verschickt
                                        p.hidden.red Das E-Mail wurde an Benutzer nicht verschickt. Wenden Sie sich bitte an Entwickler
                                        hr
                                br
                                button.btn.btn-primary.btn-sm.custom-control-button-open#modalEmailTextarea22(type='button') Antrag ablehnen
                                for order in softwareListDetails
                                    span.inputHide
                                        textarea.modalEmailTextarea.widgEditor#widgEditor(placeholder='EmailVorlage' rows='10')
                                            | Guten Tag #{anredeMail} </br></br>Ihr Antrag zur Anschaffung der Software #{order.softwarename} wurde durch das Gremium geprüft. Leider müssen wir Ihnen mitteilen, dass eine Anschaffung abgelehnt werden muss.</br>Begründung: </br></br>Freundliche Grüsse</br> Ihr Applprojekte Team</br> n|w
                                        a.button-email-send.btn.btn-secondary.btn-sm(href="/santra/details?tsid=" + order.orderid statuschange=5, mailtype=2, orderstatus=5)
                                            | Email senden
                                        button.btn.btn-primary.btn-sm.custom-control-button-close(type='button') Abbrechen
                                        p.hidden.green Ihr E-Mail wurde erfolgreich an Benutzer verschickt
                                        p.hidden.red Das E-Mail wurde an Benutzer nicht verschickt. Wenden Sie sich bitte an Entwickler
                                        hr
                            .modal-footer
                                for order in softwareListDetails
                                    button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') Abbrechen
                //#Modal4.modal.fade(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
                //    .modal-dialog.modal-dialog-centered(role='document')
                //        .modal-content
                //            .modal-header
                //                h5.modal-title Antrag abschliessen
                //            .modal-body
                //                for order in softwareListDetails
                //                    a.button-email-send.btn.btn-secondary.btn-sm(href="/details?tsid=" + order.orderid statuschange=5, mailtype=0, orderstatus=6, decision=0)
                //                        | Antrag abschliessen
                //                    button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') Abbrechen
                //#Modal5.modal.fade(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
                //    .modal-dialog.modal-dialog-centered(role='document')
                //        .modal-content
                //            .modal-header
                //                h5.modal-title Antrag abschliessen
                //            .modal-body
                //                for order in softwareListDetails
                //                    a.button-email-send.btn.btn-secondary.btn-sm(href="/details?tsid=" + order.orderid statuschange=6, mailtype=0, orderstatus=7, decision=0)
                //                        | Antrag abschliessen
                //                    button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') Abbrechen
                br.hidden-md
                .form-group-view-wrapper#AntragDetailsWrapper
                    .form-group
                            br
                            .col-md-12
                            if (admin == true)
                                for order in softwareListDetails
                                    if (order.comments !== 'undefined') && ((order.comments).length)
                                        label(for='form-function')
                                            | Notizen zum Antrag (vertraulich)
                                        p= order.comments
                            for order in softwareListDetails
                                label
                                    | Antragtyp
                                p(name='institut')= order.application
                                label Genehmigungs-Nummer:
                                p(name='professur')= order.approvednr
                                h3.alert.alert-primary 1. Allgemeine Angaben
                            for order in softwareListDetails
                                if (order.title !== 'Neutrale Anrede')
                                    span= order.title
                                span= order.firstname
                                span= order.lastname
                                label
                                    | E-Mail-Adresse
                                p= order.email
                            for order in softwareListDetails
                                label
                                    | Institut
                                p= order.institute
                                label
                                    | b. Wer finanziert das Vorhaben (Drittmittelgeber, externer Auftraggeber)?
                                p= order.finance
                                label
                                    | c. Teildisziplin
                                p= order.subdiscipline
                                label
                                    | d. Thema/Titel des Vorhabens
                                p= order.topic
                                label
                                    | e. Zusammenfassung des Vorhabens
                                p= order.summ
                                label
                                    | f. Projektlaufzeit gemäss finanziertem Vorhaben sowie Zeitraum, für den die Genehmigung beantragt wird
                                p= order.projectduration
                                label
                                    | g. Verlangt der Forschungsträger/Auftraggeber eine Begutachtung des Vorhabens durch eine Ethikkommission?
                                p= order.appraisal
                                label
                                    | h. Verlangt der Forschungsträger/Auftraggeber oder die Gesetzgebung eine Registrierung des Vorhabens?
                                p= order.registration
                                if order.registration === 'Ja'
                                    p= order.registrationtext
                            for order in softwareListDetails
                                h3.alert.alert-primary 2. Verfahren des Vorhabens
                                label
                                    | a. Zielgruppe/Teilnehmende (Angestrebte Anzahl, Geschlecht, Alter, Ausbildung, Gruppenzugehörigkeit u.a. von Relevanz)
                                p= order.participants
                                label
                                    | b. Welche Personendaten werden erhoben?
                                p= order.personaldata
                                label
                                    | c. Wie werden die zu untersuchenden Proband*innen rekrutiert?
                                p= order.recruited
                                label
                                    | d. Wie werden die untersuchten Personen (Proband*innen) vor der Untersuchung informiert?
                                a(href=order.informedbefore) Datei herunterladen
                                label
                                    | e. Wie ist die Durchführung der Studie aus der Sicht der untersuchten Personen (Proband*innen) gestaltet?
                                a(href=order.execution) Datei herunterladen
                                label
                                    | f. Wie lauten die genauen Instruktionen während der Studiendurchführung? Welche Erhebungsinstrumente werden verwendet?
                                a(href=order.instructions) Datei herunterladen
                                label
                                    | g. Wie werden die untersuchten Personen (Proband*innen) nach Beendigung des Vorhabens informiert? Was wird wie rückgemeldet?
                                a(href=order.informedafter) Datei herunterladen
                            for order in softwareListDetails
                                h3.alert.alert-primary 3. Spezifische ethische Aspekte des Vorhabens
                                label
                                    | a. Wird die Teilnahme an dem Vorhaben den untersuchten Personen (Proband*innen) vergütet oder bekommen sie eine Aufwandsentschädigung?
                                p= order.compensation
                                    if order.registration === 'Ja'
                                        p= order.compensationtext
                                label
                                    | b. Wenn die Teilnahme als Studienleistung erbracht wird (z. B. obligatorische Versuchspersonen- stunden), kann die Leistung durch andere alternative Leistungen ersetzt werden?
                                p= order.performanced
                                label
                                    | c. Ist die Freiwilligkeit der Teilnahme aufgrund einer informierten Einverständniserklärung gewährleistet?
                                p= order.voluntary
                                    if order.voluntary === 'Ja'
                                        a(href=order.voluntaryfile) Datei herunterladen
                                label
                                    | d. Können möglichen Teilnehmenden durch Nicht-Teilnahme Nachteile entstehen?
                                p= order.notparticipate
                                    if order.notparticipate === 'Ja'
                                        p= order.notparticipatetext
                                label
                                    | e. Können untersuchte Personen (Proband*innen) auch während des Vorhabens jederzeit ohne Angaben von Gründen und ohne Nachteile ihre Teilnahme zurückziehen?
                                p= order.withdraw
                                label
                                    | f. Bei Teilnehmenden unter 16 Jahren: Wird das schriftliche Einverständnis des gesetzlichen Vertreters eingeholt?
                                p= order.agreement
                                    if order.agreement === 'Ja'
                                        a(href=order.agreementfile) Datei herunterladen
                                label
                                    | g. Ist die Teilnahme von eingeschränkt urteilsfähigen, urteilsunfähigen oder Personen unter 16 Jahren möglich oder vorgesehen?
                                p= order.participationundersixteen
                                    if order.participationundersixteen === 'Ja'
                                        p= order.participationundersixteentext
                                label
                                    | h. Setzen sich die untersuchten Personen (Proband*innen) einem Risiko aus, welches mit einer Versicherung abgedeckt werden muss?
                                p= order.risk
                                    if order.risk === 'Ja'
                                        p= order.risktext
                            for order in softwareListDetails
                                h3.alert.alert-primary 4. Belastungen während der Untersuchung
                                label
                                    | a. Wird die physische Integrität der untersuchten Personen (Proband*innen) tangiert (z. B. durch Einnahme von Arzneimitteln, Entnahme von Blut)? Können negative Folgen entstehen (z. B. Kopfschmerzen)?
                                p= order.integrity
                                    if order.integrity === 'Ja'
                                        p= order.integritytext
                                label
                                    | b. Wird die psychische Integrität der untersuchten Personen (Proband*innen) tangiert (z. B. Konzentrationsfähigkeit, Induktion von negativen Emotionen)? Können negative psychische Folgen eintreten?
                                p= order.mentalintegrity
                                    if order.mentalintegrity === 'Ja'
                                        p= order.mentalintegritytext
                                label
                                    | c. Wird durch die Teilnahme die soziale Integrität tangiert (z. B. die Teilnahme trägt zu einem schlechten Ruf bei). Können negative soziale Folgen entstehen?
                                p= order.socialintegrity
                                    if order.socialintegrity === 'Ja'
                                        p= order.socialintegritytext
                                label
                                    | d. Wenn Sie bei einer der Fragen 4a-c mit Ja geantwortet haben, gehen die Belastungen oder Folgen über das alltägliche Mass hinaus («minimal risk»)?
                                p= order.charges
                                label
                                    | e. Wenn Sie bei Frage 4d mit Ja geantwortet haben, geben Sie bitte eine Begründung für Ihr Vorgehen an und erläutern Sie die Schutzmassnahmen, die Sie für die untersuchten Personen (Proband*innen) treffen werden, um die Belastungen zu minimieren:
                                p= order.reason
                                label
                                    | f. Werden die untersuchten Personen (Proband*innen) gebeten, persönliche Erfahrungen (z. B. belastende Erlebnisse), sensitive Informationen (z. B. sexuelles Verhalten, Drogenkonsum) oder Einstellungen (z. B. politische Präferenzen) preiszugeben?
                                p= order.experience
                                    if order.experience === 'Ja'
                                        p= order.experiencetext
                                label
                                    | g. Werden die untersuchten Personen (Proband*innen) absichtlich unvollständig oder falsch (mit dem Ziel der Täuschung) über die Ziele und das Verfahren des Vorhabens informiert (z. B. durch manipulierte Rückmeldungen über Ihre Leistungen)?
                                p= order.illusion
                                    if order.illusion === 'Ja'
                                        p= order.illusiontext
                                label
                                    | h. Wird es notwendig sein, dass Personen an der Studie teilnehmen, ohne dies zu wissen und ohne informierte Einwilligung gegeben zu haben (z. B. verdeckte Beobachtung von Personen)?
                                p= order.observation
                            for order in softwareListDetails
                                h3.alert.alert-primary 5. Angaben zum Datenschutz
                                label
                                    | a. Sind Bild-, Film- oder Tonaufnahmen oder andere Verhaltensregistrierungen vorgesehen?
                                p= order.media
                                label
                                    | b. Werden die erhobenen Daten anonymisiert?
                                p= order.anonymized
                                label
                                    | c. Wird die Vertraulichkeit der Daten gewährleistet?
                                p= order.confidentiality
                                label
                                    | d. Können die untersuchten Personen (Proband*innen) das Vernichten ihrer Daten jederzeit verlangen?
                                p= order.destroy
                                label
                                    | e. Werden erhobene Daten nach Ablauf einer bestimmten Zeit teilweise oder ganz gelöscht?
                                p= order.deleted
                                label
                                    | f. Beabsichtigen Sie, die Rohdaten auf einem öffentlichen Daten-Repository (z.B. FORS) zu veröffentlichen?
                                p= order.repo
                            for order in softwareListDetails
                                h3.alert.alert-primary 6. Ort, Datum und Unterschrift der Antragstellerin oder des Antragstellers
                                label
                                    | a. Ort
                                p= order.located
                                label
                                    | b. Datum
                                p= order.dateapp

script(type='text/javascript' src="./static/js/libs/jquery.js")                                                                                                             button.btn.btn-secondary.btn-sm(type='button' data-dismiss='modal')
script(type='text/javascript').
    $(document).ready(function () {
        $(".custom-control-button-open").click(function () {
            $(this).next(".inputHide").delay(300).slideDown("slow");
        });
        $(".custom-control-button-close").click(function () {
            $(this).closest(".inputHide").delay(300).slideUp("slow");
        });
        $('.button-email-send').one('click',function (e) {
            e.preventDefault();
            e.stopPropagation();
            let mailtype = $(this).attr('mailtype');
            let statuschange = $(this).attr('statuschange');
            let orderstatus  = $(this).attr('orderstatus');
            const urlParams = new URLSearchParams(window.location.search);
            const currenturlParam = urlParams.get('tsid');
            let mailtext;
            //mailtext = $(this).prev().find('input').val();
            mailtext = $(this).prev().find("iframe").contents().find("body").html()
            let d = new Date();
            let month = d.getMonth() + 1;
            let day = d.getDate();
            let hour = d.getHours();
            let minute = d.getMinutes();
            let datetime =
                (('' + day).length < 2 ? '0' : '') + day + '.' +
                (('' + month).length < 2 ? '0' : '') + month + '.' +
                d.getFullYear() + ' ' +
                (('' + hour).length < 2 ? '0' : '') + hour + ':' +
                (('' + minute).length < 2 ? '0' : '') + minute;
                $.ajax({
                    type: 'POST',
                    data: {
                        statuschange: statuschange,
                        mailtext: mailtext,
                        datetime: datetime,
                        mailtype: mailtype,
                        orderstatus: orderstatus
                    },
                    url: '/santra/details?tsid=' + currenturlParam,
                    success: function (data) {

                            $('.green').removeClass('hidden');
                            window.setTimeout(function () {
                                window.location.replace("/santra/details?tsid=" + currenturlParam);
                            }, 500);

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('.red').removeClass('hidden');
                        alert(xhr.status);
                        alert(thrownError);
                   }
                });

        });
    });