doctype html
html(lang="en")
    head
        include header
    body
        #content
            .container
                .row
                    .col-md-12
                        br
                        br
                        for order in softwareListDetails
                            h2(id='tables') Antrag #!{order.applicationid} !{order.topic} bearbeiten
                        form#formOrder.needs-validation(method='POST' novalidate='')
                            for order in softwareListDetails
                                if(order.status == 10)
                                    include elements/buttons-edit-draft
                                else
                                    include elements/buttons-edit
                                br
                                br
                                if (admin == true)
                                    label.form-label(for='validationTextarea') Notizen zum Antrag (vertraulich)
                                    if (typeof (softwareListDetails) !== 'undefined')
                                        for order in softwareListDetails
                                            if (order.comments !== 'undefined')
                                                textarea#validationTextarea.form-control.textarea-js(maxlength='5000' rows='7' name='comments')
                                                    | #{order.comments}
                                            else
                                                textarea#validationTextarea.form-control.textarea-js(maxlength='5000' rows='7' name='comments')
                                    br
                                    .row
                                        .col-md-6
                                            label.form-check-label
                                                |  (Genehmigungs-Nummer: )
                                                if (typeof (softwareListDetails) !== 'undefined')
                                                    for order in softwareListDetails
                                                        input.form-control(type='text' name='approvednr' value=order.approvednr)
                                                else
                                                    input.form-control(type='text' name='approvednr')
                                        .col-md-6
                                            label.form-check-label
                                                |  Stichtag
                                                if (typeof (softwareListDetails) !== 'undefined')
                                                    for order in softwareListDetails
                                                        input.form-control.date.date-picker(type='text' name='deadline' placeholder='Datum ausw채hlen' value=order.deadline data-provide='datepicker' data-date-format="dd.mm.yyyy")

                                                else
                                                    input.form-control.date.date-picker(type='text' name='deadline' placeholder='Datum ausw채hlen' data-provide='datepicker' data-date-format="dd.mm.yyyy")
                                    if (typeof (softwareListDetails) !== 'undefined')
                                        for order in softwareListDetails
                                            .col-md-6
                                                br
                                                label Ordentliches Verfahren (OV)
                                                label Vereinfachter Weg (VW)
                                                div
                                                    h4 Pr체fer 1
                                                    .custom-control.custom-radio
                                                        input#customRadioEth1.custom-control-input(type='radio' name='eth1' value="OK" required='')
                                                        label.custom-control-label(for='customRadioEth1') Ethisch OK
                                                    .custom-control.custom-radio
                                                        input#customRadioEth2.custom-control-input(type='radio' name='eth1' value="NOK" required='')
                                                        label.custom-control-label(for='customRadioEth2') Ethisch NOK
                                                    br
                                                    h4 Pr체fer 2
                                                    .custom-control.custom-radio
                                                        input#customRadioEth3.custom-control-input(type='radio' name='eth2' value="OK" required='')
                                                        label.custom-control-label(for='customRadioEth3') Ethisch OK
                                                    .custom-control.custom-radio
                                                        input#customRadioEth4.custom-control-input(type='radio' name='eth2' value="NOK" required='')
                                                        label.custom-control-label(for='customRadioEth4') Ethisch NOK
                                    br
                                    hr
                                    br
                                include form
    include footer

