script(type="text/javascript")
script(type='text/javascript' src="/ethra/static/src/printpdf.js")
link(rel="stylesheet" href="/ethra/static/style/custom.css")
div(id='wrapper-screen-pdf')
    img(class='FHNWLogo' src='/ethra/static/style/FHNW_PH.svg')
    #content.details
        .container
            .row
                .col-md-12
                    br
                    br
                    for order in softwareListDetails
                        h2(id='tables') Antrag #!{order.applicationid} !{order.topic}
                        for order in softwareListDetails
                            if(order.status == 10)
                                span.span-draft Entwurf
                    .form-group-view-wrapper#AntragDetailsWrapper
                    div(style="page-break-after: always; height:50vh;" )
                        .form-group
                            .row
                                .col-md-12
                                if (admin == true)
                                    for order in softwareListDetails
                                        if (order.comments !== 'undefined') && ((order.comments).length)
                                            label(style="font-weight: 700;")
                                                | Notizen zum Antrag (vertraulich)
                                            p= order.comments
                                for order in softwareListDetails
                                    label(style="font-weight: 700;")
                                        | Antragstyp
                                    p(name='institut')= order.application
                                    label(style="font-weight: 700;") Genehmigungs-Nummer:
                                    p(name='professur')= order.approvednr
                                    h3.alert.alert-primary 1. Allgemeine Angaben
                                for order in softwareListDetails
                                    p
                                        if (order.title !== 'Neutrale Anrede')
                                            span= order.title
                                        span= order.firstname
                                        span= order.lastname
                                    label(style="font-weight: 700;")
                                        | E-Mail-Adresse
                                    p= order.email
                                for order in softwareListDetails
                                    label(style="font-weight: 700;")
                                        | Institut
                                    p= order.institute
                                    label(style="font-weight: 700;")
                                        | b. Wer finanziert das Vorhaben (Drittmittelgeber, externer Auftraggeber)?
                                    p= order.finance
                                    label(style="font-weight: 700;")
                                        | c. Teildisziplin
                                    p= order.subdiscipline
                                    label(style="font-weight: 700;")
                                        | d. Thema/Titel des Vorhabens
                                    p= order.topic
                                    label(style="font-weight: 700;")
                                        | e. Zusammenfassung des Vorhabens
                                    p= order.summ
                                    label(style="font-weight: 700;")
                                        | f. Projektlaufzeit gemäss finanziertem Vorhaben sowie Zeitraum, für den die Genehmigung beantragt wird
                                    p= order.projectduration
                                    label(style="font-weight: 700;")
                                        | g. Verlangt der Forschungsträger/Auftraggeber eine Begutachtung des Vorhabens durch eine Ethikkommission?
                                    p= order.appraisal
                                    label(style="font-weight: 700;")
                                        | h. Verlangt der Forschungsträger/Auftraggeber oder die Gesetzgebung eine Registrierung des Vorhabens?
                                    p= order.registration
                                    if order.registration === 'Ja'
                                        p= order.registrationtext
                                for order in softwareListDetails
                                    h3.alert.alert-primary 2. Verfahren des Vorhabens
                                    label(style="font-weight: 700;")
                                        | a. Zielgruppe/Teilnehmende (Angestrebte Anzahl, Geschlecht, Alter, Ausbildung, Gruppenzugehörigkeit u.a. von Relevanz)
                                    p= order.participants
                                    label(style="font-weight: 700;")
                                        | b. Welche Personendaten werden erhoben?
                                    p= order.personaldata
                                    label(style="font-weight: 700;")
                                        | c. Wie werden die zu untersuchenden Proband*innen rekrutiert?
                                    p= order.recruited
                                    label(style="font-weight: 700;")
                                        | d. Wie werden die untersuchten Personen (Proband*innen) vor der Untersuchung informiert?
                                    p
                                        i(fas fa-file-download)
                                        a(href=order.informedbefore) Datei herunterladen
                                    label(style="font-weight: 700;")
                                        | e. Wie ist die Durchführung der Studie aus der Sicht der untersuchten Personen (Proband*innen) gestaltet?
                                    a(href=order.execution) Datei herunterladen
                                    label(style="font-weight: 700;")
                                        | f. Wie lauten die genauen Instruktionen während der Studiendurchführung? Welche Erhebungsinstrumente werden verwendet?
                                    a(href=order.instructions) Datei herunterladen
                                    label(style="font-weight: 700;")
                                        | g. Wie werden die untersuchten Personen (Proband*innen) nach Beendigung des Vorhabens informiert? Was wird wie rückgemeldet?
                                    a(href=order.informedafter) Datei herunterladen
                    img(class='FHNWLogo' src='/santra/static/style/FHNW_PH.svg')
                    div(style="page-break-after: always; height:50vh; position: relative; top:20px;" )
                                for order in softwareListDetails
                                    h3.alert.alert-primary 3. Spezifische ethische Aspekte des Vorhabens
                                    label(style="font-weight: 700;")
                                        | a. Wird die Teilnahme an dem Vorhaben den untersuchten Personen (Proband*innen) vergütet oder bekommen sie eine Aufwandsentschädigung?
                                    p= order.compensation
                                        if order.registration === 'Ja'
                                            p= order.compensationtext
                                    label(style="font-weight: 700;")
                                        | b. Wenn die Teilnahme als Studienleistung erbracht wird (z. B. obligatorische Versuchspersonen- stunden), kann die Leistung durch andere alternative Leistungen ersetzt werden?
                                    p= order.performanced
                                    label(style="font-weight: 700;")
                                        | c. Ist die Freiwilligkeit der Teilnahme aufgrund einer informierten Einverständniserklärung gewährleistet?
                                    p= order.voluntary
                                        if order.voluntary === 'Ja'
                                            a(href=order.voluntaryfile) Datei herunterladen
                                    label(style="font-weight: 700;")
                                        | d. Können möglichen Teilnehmenden durch Nicht-Teilnahme Nachteile entstehen?
                                    p= order.notparticipate
                                        if order.notparticipate === 'Ja'
                                            p= order.notparticipatetext
                                    label(style="font-weight: 700;")
                                        | e. Können untersuchte Personen (Proband*innen) auch während des Vorhabens jederzeit ohne Angaben von Gründen und ohne Nachteile ihre Teilnahme zurückziehen?
                                    p= order.withdraw
                                    label(style="font-weight: 700;")
                                        | f. Bei Teilnehmenden unter 16 Jahren: Wird das schriftliche Einverständnis des gesetzlichen Vertreters eingeholt?
                                    p= order.agreement
                                        if order.agreement === 'Ja'
                                            a(href=order.agreementfile) Datei herunterladen
                                    label(style="font-weight: 700;")
                                        | g. Ist die Teilnahme von eingeschränkt urteilsfähigen, urteilsunfähigen oder Personen unter 16 Jahren möglich oder vorgesehen?
                                    p= order.participationundersixteen
                                        if order.participationundersixteen === 'Ja'
                                            p= order.participationundersixteentext
                                    label(style="font-weight: 700;")
                                        | h. Setzen sich die untersuchten Personen (Proband*innen) einem Risiko aus, welches mit einer Versicherung abgedeckt werden muss?
                                    p= order.risk
                                        if order.risk === 'Ja'
                                            p= order.risktext
                                for order in softwareListDetails
                                    h3.alert.alert-primary 4. Belastungen während der Untersuchung
                                    label(style="font-weight: 700;")
                                        | a. Wird die physische Integrität der untersuchten Personen (Proband*innen) tangiert (z. B. durch Einnahme von Arzneimitteln, Entnahme von Blut)? Können negative Folgen entstehen (z. B. Kopfschmerzen)?
                                    p= order.integrity
                                        if order.integrity === 'Ja'
                                            p= order.integritytext
                                    label(style="font-weight: 700;")
                                        | b. Wird die psychische Integrität der untersuchten Personen (Proband*innen) tangiert (z. B. Konzentrationsfähigkeit, Induktion von negativen Emotionen)? Können negative psychische Folgen eintreten?
                                    p= order.mentalintegrity
                                        if order.mentalintegrity === 'Ja'
                                            p= order.mentalintegritytext
                                    label(style="font-weight: 700;")
                                        | c. Wird durch die Teilnahme die soziale Integrität tangiert (z. B. die Teilnahme trägt zu einem schlechten Ruf bei). Können negative soziale Folgen entstehen?
                                    p= order.socialintegrity
                                        if order.socialintegrity === 'Ja'
                                            p= order.socialintegritytext
                                    label(style="font-weight: 700;")
                                        | d. Wenn Sie bei einer der Fragen 4a-c mit Ja geantwortet haben, gehen die Belastungen oder Folgen über das alltägliche Mass hinaus («minimal risk»)?
                                    p= order.charges
                                    label(style="font-weight: 700;")
                                        | e. Wenn Sie bei Frage 4d mit Ja geantwortet haben, geben Sie bitte eine Begründung für Ihr Vorgehen an und erläutern Sie die Schutzmassnahmen, die Sie für die untersuchten Personen (Proband*innen) treffen werden, um die Belastungen zu minimieren:
                                    p= order.reason
                                    label(style="font-weight: 700;")
                                        | f. Werden die untersuchten Personen (Proband*innen) gebeten, persönliche Erfahrungen (z. B. belastende Erlebnisse), sensitive Informationen (z. B. sexuelles Verhalten, Drogenkonsum) oder Einstellungen (z. B. politische Präferenzen) preiszugeben?
                                    p= order.experience
                                        if order.experience === 'Ja'
                                            p= order.experiencetext
                                    label(style="font-weight: 700;")
                                        | g. Werden die untersuchten Personen (Proband*innen) absichtlich unvollständig oder falsch (mit dem Ziel der Täuschung) über die Ziele und das Verfahren des Vorhabens informiert (z. B. durch manipulierte Rückmeldungen über Ihre Leistungen)?
                                    p= order.illusion
                                        if order.illusion === 'Ja'
                                            p= order.illusiontext
                                    label(style="font-weight: 700;")
                                        | h. Wird es notwendig sein, dass Personen an der Studie teilnehmen, ohne dies zu wissen und ohne informierte Einwilligung gegeben zu haben (z. B. verdeckte Beobachtung von Personen)?
                                    p= order.observation
                                for order in softwareListDetails
                                    h3.alert.alert-primary 5. Angaben zum Datenschutz
                                    label(style="font-weight: 700;")
                                        | a. Sind Bild-, Film- oder Tonaufnahmen oder andere Verhaltensregistrierungen vorgesehen?
                                    p= order.media
                                    label(style="font-weight: 700;")
                                        | b. Werden die erhobenen Daten anonymisiert?
                                    p= order.anonymized
                                    label(style="font-weight: 700;")
                                        | c. Wird die Vertraulichkeit der Daten gewährleistet?
                                    p= order.confidentiality
                                    label(style="font-weight: 700;")
                                        | d. Können die untersuchten Personen (Proband*innen) das Vernichten ihrer Daten jederzeit verlangen?
                                    p= order.destroy
                                    label(style="font-weight: 700;")
                                        | e. Werden erhobene Daten nach Ablauf einer bestimmten Zeit teilweise oder ganz gelöscht?
                                    p= order.deleted
                                    label(style="font-weight: 700;")
                                        | f. Beabsichtigen Sie, die Rohdaten auf einem öffentlichen Daten-Repository (z.B. FORS) zu veröffentlichen?
                                    p= order.repo
                                for order in softwareListDetails
                                    h3.alert.alert-primary 6. Ort, Datum und Unterschrift der Antragstellerin oder des Antragstellers
                                    label(style="font-weight: 700;")
                                        | a. Ort
                                    p= order.located
                                    label(style="font-weight: 700;")
                                        | b. Datum
                                    p= order.dateapp
                                span(class='pdfSep')

